.search {
	padding: 1em 1em;
	display: grid;
	place-content: center;
}

.search__container {
	width: 300px;
	display: flex;
	align-items: center;
	position: relative;
}

.search__input {
	border: 3px solid #44b844;
	width: 100%;
	border-radius: 5px;
	padding: 0.4em 1em;
	outline: none;
}

.search__button {
	color: white;
	background-color: #44b844;
	border: 1px solid transparent;
	border-radius: 0px 5px 5px 0px;
	padding: 0.5em 1em;
	outline: none;
}

.search__error {
	color: red;
	font-size: small;
	text-align: center;
}

.suggestions__list {
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;
	position: absolute;
	background-color: white;
	border: 1px solid #ccc;
	width: 300px;
	z-index: 100;
	left: 50%;
	transform: translateX(-50%);
	top: 70%;
	text-align: center;
}

.suggestion__item {
	padding: 10px;
	cursor: pointer;
}

.suggestion__item:hover {
	background-color: #f0f0f0;
}
